[submodule "pybind"]
	path = pybind
	url = ../../pybind/pybind11
	branch = stable
[submodule "pybind11"]
	path = pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "aca/aca"]
	path = aca/aca
	url = https://github.com/zhfe99/aca.git
